root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{rs,toml}]
indent_style = space
indent_size = 4

[*.{kt,kts,java,xml,gradle,md,yml,yaml}]
indent_style = space
indent_size = 4

# ktlint: @Composable functions follow the capitalized-Composable-name
# convention and are exempt from function-naming.
[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with = Composable
